COMPUTE_POOL=sandbox_compute_pool_cpu
DATABASE=setli
IMAGE=fastapi-o11y
IMAGE_REPOSITORY=image_repository
IMAGE_TAG=latest
SCHEMA=sandbox
SERVICE_NAME=fastapi_o11y
SERVICE_SPEC=fastapi_o11y_spec.yml
STAGE=data
SNOW_CONNECTION=aifde.setli
