ROLE_NAME=ACCOUNTADMIN

# the table where kb_knowledge can be found
KB_DATABASE_NAME=KNOWLEDGE_BUILDER
KB_SCHEMA_NAME=CORE
KB_TABLE_NAME=SAMPLE_KB_KNOWLEDGE

# spcs
SPCS_COMPUTE_POOL_NAME=SANDBOX_COMPUTE_POOL_CPU
SPCS_IMAGE_REPO_NAME=IMAGE_REPOSITORY
SPCS_STAGE_NAME=APP_STAGE
SPCS_DATABASE_NAME=KNOWLEDGE_BUILDER
SPCS_SCHEMA_NAME=CORE
SPCS_WAREHOUSE_NAME=COMPUTE_WH
SPCS_EAI_NAME=KNOWLEDGE_BUILDER_EAI

# kb_builder_svc details
KB_BUILDER_SVC_NAME=KB_BUILDER
KB_BUILDER_IMAGE_NAME=kb-builder-svc

# the name of the connection in ~/.connections.toml
SNOW_CONNECTION=SFENGINEERING_AIFDE
