# the connection SnowSQL will use (from ~/.snowflake/config.toml or ~/.snowflake/connections.toml)
# should be lowercase if using "default"
# the connection must be using a role that has privileges to create resources in the account (database, schema, compute pools, network rules)
SNOW_CONNECTION=default

# the compute pool used to run the app 

# sfengineering-aifde account (comment this out as needed)
# COMPUTE_POOL=SANDBOX_COMPUTE_POOL_CPU
# DATABASE=SALES_AI_PLATFORM
# SCHEMA=CORE
# STAGE=APP_STAGE
# IMAGE_REPOSITORY=IMAGE_REPOSITORY
# IMAGE_NAME=sales-ai-platform
# IMAGE_TAG=latest
# SERVICE_NAME=sales_ai_platform_service
# CONTAINER_NAME=sales-ai-platform
# EXTERNAL_ACCESS_INTEGRATION=sales_ai_external_access

# prod snowhouse account (comment this out as needed)
COMPUTE_POOL=AI_FDE_COMPUTE_POOL
DATABASE=AI_FDE
SCHEMA=SALES_AI_PLATFORM
STAGE=APP_STAGE
ROLE=AI_FDE_SALES_COLLAB_RO_RL
IMAGE_REPOSITORY=IMAGE_REPOSITORY
IMAGE_NAME=sales-ai-platform
IMAGE_TAG=latest
SERVICE_NAME=sales_ai_platform_service
CONTAINER_NAME=sales-ai-platform
EXTERNAL_ACCESS_INTEGRATION=ALLOW_ALL_EAI

# optional langsmith tracing vars
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# optional DBOS persistence path override
DBOS_SYSTEM_DATABASE_URL=

# choose which API is used with get_llm (valid values: "openai" | "snowflake")
LLM_PROVIDER=openai

# required OpenAI API key for LangSmith
OPENAI_API_KEY=

# (optional) these are only needed for local dev if exercising ChatOpenAI with Snowflake Cortex
SNOWFLAKE_HOST=
SNOWFLAKE_PAT=