# the connection SnowSQL will use (from ~/.snowflake/config.toml or ~/.snowflake/connections.toml)
# should be lowercase if using "default"
SNOW_CONNECTION=default

# the compute pool used to run the app 
COMPUTE_POOL=SANDBOX_COMPUTE_POOL_CPU

# where the app assets (service specs) are stored
DATABASE=SALES_AI_PLATFORM
SCHEMA=CORE
STAGE=APP_STAGE
IMAGE_REPOSITORY=IMAGE_REPOSITORY
IMAGE_NAME=sales-ai-platform
IMAGE_TAG=latest
SERVICE_NAME=sales_ai_platform_service
CONTAINER_NAME=sales-ai-platform

# optional langsmith tracing vars
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# required OpenAI API key for LangSmith and local dev
OPENAI_API_KEY=

# (optional) these are only needed for local dev if exercising ChatOpenAI with Snowflake Cortex
SNOWFLAKE_HOST=
SNOWFLAKE_PAT=