# See https://docs.snowflake.com/LIMITEDACCESS/snowflake-cortex/open_ai_sdk for more information
SNOWFLAKE_ACCOUNT=<account-identifier>
SNOWFLAKE_USER=<snowflake-username>
SNOWFLAKE_PAT=<SNOWFLAKE_PAT>