CREATE STAGE IF NOT EXISTS {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.FEEDBACK_APP
  DIRECTORY = (ENABLE = TRUE);

ALTER STAGE {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.FEEDBACK_APP REFRESH;

PUT file://./apps/feedback_app/*.py @{{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.feedback_app/feedback_app/
  OVERWRITE=true
  AUTO_COMPRESS = FALSE;

PUT file://./apps/feedback_app/environment.yml @{{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.feedback_app/feedback_app/
  OVERWRITE=true
  AUTO_COMPRESS = FALSE;

  PUT file://./apps/feedback_app/styles.css @{{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.feedback_app/feedback_app/
  OVERWRITE=true
  AUTO_COMPRESS = FALSE;

CREATE OR REPLACE STREAMLIT {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.FEEDBACK_APP
  FROM '@{{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.FEEDBACK_APP/feedback_app/'
  MAIN_FILE = 'streamlit_app.py'
  QUERY_WAREHOUSE = COMPUTE_WH
  TITLE = 'Feedback';

ALTER STREAMLIT {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.FEEDBACK_APP ADD LIVE VERSION FROM LAST;
