CREATE STAGE IF NOT EXISTS {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.TAXONOMY_APP
  DIRECTORY = (ENABLE = TRUE);

ALTER STAGE {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.TAXONOMY_APP REFRESH;

PUT file://./apps/taxonomy_app/*.py @{{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.taxonomy_app/taxonomy_app/
  OVERWRITE=true
  AUTO_COMPRESS = FALSE;

PUT file://./apps/taxonomy_app/environment.yml @{{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.taxonomy_app/taxonomy_app/
  OVERWRITE=true
  AUTO_COMPRESS = FALSE;

PUT file://./apps/taxonomy_app/styles.css @{{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.taxonomy_app/taxonomy_app/
  OVERWRITE=true
  AUTO_COMPRESS = FALSE;

LS @{{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.TAXONOMY_APP;

CREATE OR REPLACE STREAMLIT {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.TAXONOMY_APP
  FROM '@{{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.TAXONOMY_APP/taxonomy_app/'
  MAIN_FILE = 'streamlit_app.py'
  QUERY_WAREHOUSE = COMPUTE_WH
  TITLE = 'Taxonomy Review';

ALTER STREAMLIT {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.TAXONOMY_APP ADD LIVE VERSION FROM LAST;
