CREATE OR REPLACE FILE FORMAT {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.KB_KNOWLEDGE_CSV
TYPE = 'CSV'
FIELD_DELIMITER = ','
SKIP_HEADER = 1
REPLACE_INVALID_CHARACTERS = TRUE
FIELD_OPTIONALLY_ENCLOSED_BY = '"';
