CREATE OR REPLACE TABLE {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.KB_KNOWLEDGE (
    NUMBER TEXT,
    VERSION TEXT,
    SHORT_DESCRIPTION TEXT,
    AUTHOR TEXT,
    KB_CATEGORY TEXT,
    WORKFLOW_STATE TEXT,
    SYS_UPDATED_ON TIMESTAMP_NTZ,
    ACTIVE BOOLEAN,
    ARTICLE_ID TEXT,
    TEXT TEXT,
    ARTICLE_TYPE TEXT,
    DIRECT BOOLEAN,
    BASE_VERSION TEXT,
    CAN_READ_USER_CRITERIA TEXT,
    CANNOT_READ_USER_CRITERIA TEXT,
    CATEGORY TEXT,
    SYS_CLASS_NAME TEXT,
    CMDB_CI TEXT,
    SYS_CREATED_ON TIMESTAMP_NTZ,
    SYS_CREATED_BY TEXT,
    DESCRIPTION TEXT,
    DISABLE_COMMENTING BOOLEAN,
    DISABLE_SUGGESTING BOOLEAN,
    DISPLAY_ATTACHMENTS BOOLEAN,
    DISPLAY_NUMBER TEXT,
    SYS_DOMAIN TEXT,
    SYS_DOMAIN_PATH TEXT,
    FLAGGED BOOLEAN,
    GENERATED_WITH_NOW_ASSIST BOOLEAN,
    HELPFUL_COUNT TEXT,
    IMAGE TEXT,
    INSTRUMENTATION_METADATA TEXT,
    KB_KNOWLEDGE_BASE TEXT,
    LATEST TEXT,
    LATEST_AQI TEXT,
    META TEXT,
    META_DESCRIPTION TEXT,
    OWNERSHIP_GROUP TEXT,
    PUBLISHED TEXT,
    RATING TEXT,
    REPLACEMENT_ARTICLE TEXT,
    RETIRED TEXT,
    REVISED_BY TEXT,
    ROLES TEXT,
    SCHEDULED_PUBLISH_DATE TEXT,
    SOURCE TEXT,
    SUMMARY TEXT,
    SYS_TAGS TEXT,
    TAXONOMY_TOPIC TEXT,
    TOPIC TEXT,
    SYS_UPDATED_BY TEXT,
    SYS_MOD_COUNT NUMBER(2, 0),
    USE_COUNT TEXT,
    VALID_TO DATE,
    VIEW_AS_ALLOWED BOOLEAN,
    SYS_VIEW_COUNT NUMBER(2, 0),
    WIKI TEXT
);
