PUT file://./data/kb_knowledge.csv @{{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.KNOWLEDGE/
  OVERWRITE=true
  AUTO_COMPRESS = FALSE;

COPY INTO {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.KB_KNOWLEDGE
FROM @{{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.KNOWLEDGE/kb_knowledge.csv
FILE_FORMAT = {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.KB_KNOWLEDGE_CSV
ON_ERROR = CONTINUE;
