CREATE OR REPLACE TABLE {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.KB_CHUNKS (
    KB_SYS_ID STRING NOT NULL,
    KB_NUMBER STRING,
    CHUNK_INDEX NUMBER,
    CHUNK_TEXT STRING,
    SHORT_DESCRIPTION STRING,
    KNOWLEDGE_BASE STRING,
    CAN_READ_USER_CRITERIA STRING,
    CANNOT_READ_USER_CRITERIA STRING,
    PROCESSING_VERSION STRING,
    SOURCE_UPDATED_ON TIMESTAMP_NTZ,
    CREATED_AT TIMESTAMP_NTZ DEFAULT CURRENT_TIMESTAMP(),
    PRIMARY KEY (KB_SYS_ID, CHUNK_INDEX)
);
