CREATE TABLE IF NOT EXISTS {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.SEARCH_QUERIES
(
    SEARCH_ID INT CONSTRAINT SEARCH_ID PRIMARY KEY AUTOINCREMENT,
    INPUT_TYPE VARCHAR,
    SEARCH_DESCRIPTION VARIANT,
    INPUT_ARGS VARIANT,
    RESPONSE VARIANT,
    CREATED_BY VARCHAR,
    CREATED_ON TIMESTAMP_NTZ(9)
);
