CREATE TABLE IF NOT EXISTS {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.SEARCH_FEEDBACK
(
    FEEDBACK_ID INT CONSTRAINT FEEDBACK_ID PRIMARY KEY AUTOINCREMENT,
    SEARCH_ID INT CONSTRAINT SEARCH_ID FOREIGN KEY REFERENCES {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.SEARCH_QUERIES (SEARCH_ID),
    USER_FEEDBACK VARCHAR,
    USER_RATING INT,
    CREATED_BY VARCHAR,
    CREATED_ON TIMESTAMP_NTZ(9)
);
