CREATE SECRET IF NOT EXISTS {{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.{{ KB_SN_SECRET_NAME }}
    TYPE = PASSWORD
    USERNAME = 'placeholder_user'
    PASSWORD = 'placeholder_password'
    COMMENT = 'ServiceNow API credentials - update with real values'
