USE ROLE ACCOUNTADMIN;

CREATE OR REPLACE EXTERNAL ACCESS INTEGRATION {{ KB_SN_EAI_NAME }}
    ALLOWED_NETWORK_RULES = ({{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.KB_SERVICENOW_NETWORK_RULE)
    ALLOWED_AUTHENTICATION_SECRETS = ({{ KB_DATABASE_NAME }}.{{ KB_SCHEMA_NAME }}.{{ KB_SN_SECRET_NAME }})
    ENABLED = TRUE
