# See https://docs.snowflake.com/sql-reference/sql/alter-user-add-programmatic-access-token for more information about creating a PAT
SNOWFLAKE_ACCOUNT=<account-identifier>
SNOWFLAKE_USER=<snowflake-username>
SNOWFLAKE_PAT=<SNOWFLAKE_PAT>