# Snowflake account context
# Many objects will get created in the Database and Schema specified here, including streams, tasks, tables, and service functions
SNOWFLAKE_ACCOUNT=SFCOGSOPS-SNOWHOUSE_AWS_US_WEST_2
SNOWFLAKE_HOST=SFCOGSOPS-SNOWHOUSE_AWS_US_WEST_2.snowflakecomputing.com
SNOWFLAKE_USER=HTIAN
DATABASE=AI_FDE
SCHEMA=SALES_AI_PLATFORM
SNOWFLAKE_WAREHOUSE=AI_FDE_M
STAGE=APP_STAGE
COMPUTE_POOL=AI_FDE_COMPUTE_POOL
ROLE=AI_FDE_ADMIN_RL
SNOWFLAKE_PAT=YOUR_SNOWFLAKE_PAT
SNOW_CONNECTION=default

# Docker settings
IMAGE_REPOSITORY=IMAGE_REPOSITORY
IMAGE_NAME=htian_25_snowvation_backend
IMAGE_TAG=latest

# Service details
SERVICE_NAME=htian_25_snowvation_backend_service
CONTAINER_NAME=sales-ai-htian_25_snowvation_backend
EXTERNAL_ACCESS_INTEGRATION=ALLOW_ALL_EAI
BACKEND_SERVICE_DATABASE=AI_FDE
BACKEND_SERVICE_SCHEMA=SALES_AI_PLATFORM
OPENAI_API_KEY=YOUR_OPENAI_API_KEY

# System related env var
SYSTEM_VERSION=v1.0.0

# Data related env var
AGENT_REGISTRY_TABLE=htian_25_snowvation_agent_registry_table
AGENT_MEMORY_TABLE=htian_25_snowvation_agent_memory_table
AGENT_RUN_LOGS_TABLE=htian_25_snowvation_agent_run_logs_table
