SNOWFLAKE_USER=svc_invoiceiq
SNOWFLAKE_PAT=<SECRET>
SNOWFLAKE_ACCOUNT=SFENGINEERING-AIFDE
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=invoiceiq
SNOWFLAKE_SCHEMA=service
SNOWFLAKE_ROLE=invoiceiq_admin
