html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

h1 {
    text-align: center;
    width: 100%;
    padding: 5px;
}

iframe.viewer {
    flex: 1;
}
