@snowflake:registry=https://artifactory.ci1.us-west-2.aws-dev.app.snowflake.com/artifactory/api/npm/internal-production-npm-snowflake-virtual/
prefer-workspace-packages=true
auto-install-peers = false
fetch-retries = 5
fetch-retry-mintimeout = 1000
fetch-retry-maxtimeout = 10000
fetch-retry-factor = 2
fetch-timeout = 10000
maxsockets = 6
lockfile-include-tarball-url=true
